<br><br><br>
<a href="/activities/<%=@activity.id%>/edit"><input type="submit" value="Edit Activity"></a>

<form style="display:inline-block;" method="post" action="/activities/<%=@activity.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="Delete Activity" value="Delete Activity"><br>
</form>
<br><br>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h1>Activity Details</h1>

Name:<br>
<%= @activity.name %><br><br>

Date:<br>
<%= @activity.date %><br><br>

Time spent or pace:<br>
<%= @activity.time %><br><br>

Distance:<br>
<%= @activity.distance %><br><br>

Location:<br>
<% if @activity.location != nil %>
<%= @activity.location.name %>
<% end %>
<br><br>
Notes:<br>
<%= @activity.notes %><br><br>



