<a href="/"><img src="Drawing.png" alt="app logo" id="app logo"></a><a href="/activities"><input type="submit" value="Activities"></a> <a href="logout"><input type="submit" value="Log Out"></a>

<a href="/users/<%=current_user.id%>/edit"><input type="submit" value="Edit Account Information"></a>
<br><br>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h1>Hello, <%= current_user.username %>.</h1>

<h2>Your recent locations</h2>

<h3>This is a list of all the places you've visited recently. Click on any location to see the details.</h3>

<% Location.all.each do |location| %>
  <a href="/locations/<%=location.id%>"><%= location.name %></a><br>
<% end %>
<br><br>
<a href="/locations/new"><input type="submit" value="Add a new location"></a>
<br>
<br>
<a href="/activities/new"><input type="submit" value="Add a new activity"></a>
<br><br>
