<br><br><br>
<a href="/locations/new"><input type="submit" value="Add a new location"></a>
<a href="/activities/new"><input type="submit" value="Add a new activity"></a>

<br><br><br>
<% if flash[:success] %>
  <%= flash[:success] %>
<% end %>

<% if flash[:failure] %>
  <%= flash[:failure] %>
<% end %>

<% if flash[:deleted] %>
  <%= flash[:deleted] %>
<% end %>

<h1>Hello, <%= current_user.username %>.</h1>

<h2>Your Recent Locations:</h2>

<h3>This is a list of all the places you've visited recently. Click on any location to see the details.</h3>

<% current_user.locations.each do |location| %>
    <a href="/locations/<%=location.id%>"><%= location.name %></a><br>
<% end %>
<br><br>

