<a href="/activities"><input type="submit" value="Activities"></a> <a href="/locations"><input type="submit" value="Locations"></a> <a href="/logout"><input type="submit" value="Log Out"></a>
<br><br><br>

<a href="/locations/<%=@location.id%>/edit"><input type="submit" value="Edit Location"></a>

<form style="display:inline-block;" method="post" action="/locations/<%=@location.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="Delete Location" value="Delete Location">
</form>
<br>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h1>Location Details</h1>

Name:<br>

<%= @location.name %><br><br>

City:<br>
<%= @location.city %><br><br>

State:<br>
<%= @location.state %><br><br>

Country:<br>
<%= @location.country %><br><br>

<h2>What you have done recently at this location:</h2>
<h3>Click on any activity for more information.</h3>
<% Activity.all.each do |activity| %>
 <% if activity.location != nil %>
   <% if activity.location.name == @location.name %>
     <a href="/activities/<%=activity.id%>"><%= activity.name %> on <%= activity.date %></a><br>
   <% end %>
 <% end %>
<% end %>
<br><br>

<a href="/activities/new"><input type="submit" value="Add a new activity"></a>


