<br><br><br>
<a href="/locations/<%=@location.id%>/edit"><input type="submit" value="Edit Location"></a>

<form style="display:inline-block;" method="post" action="/locations/<%=@location.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="Delete Location" value="Remove location from your list">
</form>
<br>

<% if flash[:edited] %>
  <%= flash[:edited] %>
<% end %>

<% if flash[:failure] %>
  <%= flash[:failure] %>
<% end %>

<h1>Location Details:</h1>

Name:<br>

<%= @location.name %><br><br>

City:<br>
<%= @location.city %><br><br>

State:<br>
<%= @location.state %><br><br>

Country:<br>
<%= @location.country %><br><br>

<h2>Your recent activities at this location:</h2>

<% current_user.activities.each do |activity| %>
 <% if activity.location != nil %>
   <% if activity.location.name == @location.name %>
     <a href="/activities/<%=activity.id%>"><%= activity.name %> on <%= activity.date %></a><br>
   <% end %>
 <% end %>
<% end %>
<br><br>





